@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
*{
    font-family: 'Commissioner', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    max-width: 75%;
}
.main-title{
    font-size: 3em;
    margin: 1em 0em;
}
.description{
    font-size: 0.9em;
}
.title{
    font-size: 2em;
}
.sub-title{
    font-size: 1.5em;
}
.p{
    font-size: 1.1em;
}
@media (max-width:780px){
    body{
        font-size: 125%;
    }
}